.contendero-producto{
	width: 100%;
	margin: auto;
}

img{
	width: 100%;

}

.header-contenido{
	position: relative;
	
}

.header-producto .logo{
	font-weight: 900;
	font-size: 45px;
	margin: 10px;
	font-family:'Playfair Display';
	color: #fff;
	z-index:auto;
}

.banner-descripcion{
	position: absolute;
	text-align: center;
	color: #fff;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	width: 100%;
	font-size: 60px;
	margin: auto;
	
}

.tipos h1{
	font-size: 45px;
	text-align: center;
	margin: 20px;
}

.tipos{
	margin: 20px;
	background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(213,213,188,1) 100%, rgba(22,0,0,1) 100%);
}